/* *,
::before,
::after {
  box-sizing: border-box;
}

.grid-container {
  height: 100vh;
}

.grid-container * {
  border: 2px solid black;
}

.grid-1 {
  background-color: rgb(36, 139, 15);
}

.logo-container {
  background-color: rgba(137, 43, 226, 0.471);
  height: 175px;
}

.nav-container {
  background-color: rgba(213, 103, 103, 0.627);
  height: 564px;
}

.search-container {
  background-color: rgba(42, 40, 40, 0.578);
  height: 10%;
}

.info-container {
  background-color: rgba(62, 55, 55, 0.589);
  height: 30%;
}

.info-box {
  background-color: bisque;
  height: 50px;
  /* width: 20px; */
/* }

.graph-container {
  background-color: rgba(82, 57, 57, 0.556);
  height: 60%;
} */ 